*{
    box-sizing: border-box;
}
/*
    ++++++++++++++
    GENERIC STYLES
    ++++++++++++++
*/
body{
    background: url(".) no-repeat;
}
form{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    text-align: center;
    border: 2px solid yellow;
    border-top: none;
}
ul{
    margin: 0 1rem 1rem 0;
    list-style: none;
}
li{
    margin: 0;
}
.header{
    font-size: 1.5em;
    font-weight: bolder;
}
/***
    CUSTOM CHECKBOX STYLES.
****/

.add_task{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add_task input{
    color:rgb(158, 88, 158);
    padding: 14px; 
    height:0.3em;
    border-radius: 25px;
    transition: all 0.7s ease-in-out 0s;
    font-weight: 600;
}
.add_btn{
    display: block;
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: rgb(108, 229, 208);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.add_btn svg{
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 900;

}
@media (min-width: 40em) {
    body{
        background: url("./imgs/pc.png") no-repeat;
    }
}
@media (min-width: 60em) {
    form{
        width: 40%;
    }
    .add_task input{
        height: 0.7em;
    }
}