*{
    box-sizing: border-box;
}
/*
    ++++++++++++++
    GENERIC STYLES
    ++++++++++++++
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    background: url("./imgs/mobile.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: rebeccapurple;
}
ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
li{
    margin-left: 0;
    margin: 0;
}

.header{
    margin-top: 0;
}
.container{
    width: 100%;
    /* min-width: 60%; */
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    border: 2px solid white;
    border-top: none;
    padding: 0em 0.5em 1.5em 0.5em;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*
++++++++++++++++
    TASK STYLES
++++++++++++++++
*/
.tasks_container{
    /* padding: em; */
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}
.tasks_container ul{
    border: 1px solid white;
}
.task{
    gap: 1rem;
    border-bottom: 1px solid wheat;
    margin: auto;
    color: white;
    padding: 0 0.2em ;
}

.description {
    font-size: 0.9em;
    width: 60%;

}
.modify{
    margin-right: 1rem;
    margin-left: auto;
    width: 15%;
    font-size: 1em;
    justify-content: space-between;
}
.modify button{
    width: 45%;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
}
.edit span{
    font-size: 1.4em;
}
.delete{
    font-size: 1em;
}
.c-custom-checkbox{
    display: block;
    position: relative;
    cursor: pointer;
}
.strike {
    color:turquoise;
    transition: color 0.3s ease; 
    text-decoration: line-through;
}
/* Custom checkbox styles */
.c-custom-checkbox input[type="checkbox"]{
    opacity: 1;
    cursor: pointer;
    width: 2em;
    height: 1.2em;
    display: block;
    position: relative;
    transition: opacity 0.3s ease; /* Add transition for opacity */
}
.c-custom-checkbox svg{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .2em;
    width: 2em;
    height: 2em;
    border-radius: 200px;
    transition: opacity 0.3s ease;
}
.c-custom-checkbox input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.18em;
    left: 0.1em;
}
.c-custom-checkbox input[type="checkbox"] + svg{
   opacity: 0;
}
.c-custom-checkbox input[type="checkbox"]:checked + svg{
    opacity: 1;
}
.c-custom-checkbox input[type="checkbox"]:checked{
    opacity: 0;
}

.c-custom-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
    outline: none;
}
/*
++++++++++++++++++++++
    TASK ADDITION STYLES
+++++++++++++++++++++++
*/
.add_task{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 4em;
    width:90%;
    margin: auto;
    margin-top: 1.5rem;
}

.add_task input{
    color:rgb(158, 88, 158);
    padding: 14px; 
    height:2em;
    border: none;
    border-radius: 15px;
    transition: all 0.7s ease-out  .4s ease-out;
    font-weight: 600;
    width: 97%;
}

.add_btn{
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: rgb(108, 229, 208);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.add_btn svg{
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    font-weight: 900;
}
.center{
    right: inherit;
    left: 45%;
    transition: 1s ease-in;
}
.hide{
    display: none;
    transition: 1ms ease;
}
@media (min-width: 800px) {
    html{
        background: url("./imgs/pc.png") no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .container{
        width: 35%;
    }
    .add_task input{
        height: 0.7em;
    }
}